{% extends "store/base.html" %}
{% load countries %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div id="payment-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Billing address</h3>
              <div id="card-errors" class="a" role="alert"></div>
              <form method="post" action="{% url "orders:order_placed" %}">
                  {% csrf_token %}
                <div class="row g-3">
                  <div class="col-sm-12">
                    <label for="firstName" class="form-label">Customer Name</label>
                    {{ form.name }}
                  </div>
                  <div class="col-12">
                    <label  class="form-label">Phone <span class="text-muted">(Optional)</span></label>
                    {{ form.phone }}
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    {{ form.address1 }}
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="address2" class="form-label">Address 2 <span
                        class="text-muted">(Optional)</span></label>
                    {{ form.address2 }}
                  </div>
                  <div class="col-md-5">
                    <label for="country" class="form-label">Country</label>
                  {% get_countries as countries %}
                    <select name="country" class="form-select" id="country" required>
                    {% for country in countries %}
                        <option value="{{ country.code }}" selected>{{ country.name }}</option>
                    {% endfor %}
                    </select>
                  </div>
                <div class="col-md-4">
                    <label for="state" class="form-label">City</label>
                    {{ form.city }}
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                  </div>
                </div>
                  <hr class="my-4">
                <button id="submit" class="btn btn-primary w-100 fw-bold">Pay</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}